@page "/terms"

<h1>Terms of Service</h1>

<p>Last updated: 20th October 2025</p>

<p>These terms only apply when signing in to davesave with Xbox.</p>

<ul>
    <li>You must be an adult in your country in order to use the service.</li>
    <li>You must not misuse or abuse the service.</li>
    <li>You must not misuse the service to violate the Microsoft and Xbox network Terms of Service.</li>
</ul>

<h1>Privacy Policy</h1>

<p>Last updated: 20th October 2025</p>

<p>
    All interaction with the davesave webpage is done locally in your web browser.
    No data is sent to or collected by davesave without your express permission by signing in with Xbox.
</p>

<p>
    By signing into davesave with Xbox, you consent to having the davesave service temporarily handle your
    Xbox account's details, including its Gamertag, unique user ID and savegame contents, in order to provide
    you with the service. No data is permanently stored on the server - your Xbox Gamertag and IP address is
    stored temporarily for abuse prevention purposes and removed after 14 days, and all other information is
    transparently processed then discarded. Your save file is not processed on the server - it is sent to
    your web browser for local processing.
</p>
